@page "/"

<PageTitle>Index</PageTitle>

<h1>Bahram's new store!</h1>
 

Welcome to your new online store, there are many categories to choose from.







@*<SurveyPrompt Title="How is Blazor working for you?" />
*@